{% extends "base.html" %}

{% load static %}

{% block title %}Explore{% endblock title %}

{% block body %}
  {% include "navbar.html" %}

  <main class="container">
    {% with active_link='explore-link' %}
      {% include "sidebar.html" %}
    {% endwith %}

    <section class="feed">
      <div class="stories">
        {% include "stories/story-explore.html" %}
      </div>

      {% include "posts/post-explore.html" %}
    </section>
    
    {% include "conversations/conversation.html" %}
  </main>
{% endblock body %}

{% block script %}
  <script defer type='module' src={% static "scripts/explore.js" %}></script>
{% endblock script %} 