{% extends "base.html" %}

{% load static %}

{% block title %}Home ~ {{ user.username }}{% endblock title %}

{% block script %}
  <script defer type='module' src={% static "scripts/home.js" %}></script>
{% endblock script %}

{% block body %}
  {% include "navbar.html" %}

  <main class="container">
    {% with active_link='home-link' %}
      {% include "sidebar.html" %}
    {% endwith %}

    <section class="feed">
      <div class="stories">
        {% include "stories/add-story.html" %}
        {% include "stories/story-home.html" %}
      </div>

      {% include "posts/post-cta.html" %}
      {% include "posts/post-home.html" %}
    </section>

    {% include "conversations/conversation.html" %}
  </main>
{% endblock body %}

