{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PolyLink</title>
  <link rel="stylesheet" href={% static "styles/home.css" %} />
  <link rel="stylesheet" href={% static "styles/bootstrap-icons.css" %} />
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <style>
    @font-face {
      font-family: "Bootstrap Font";
      src: url({% static "styles/fonts/bootstrap-icons.woff" %}) format("woff"), 
          url({% static "styles/fonts/bootstrap-icons.woff2" %}) format("woff2");
    }
  </style>
  <script defer src={% static "scripts/home.js" %}></script>
</head>
<body>
  <header class="navbar">
    <div class="logo">PolyLink</div>
    <div class="search-bar">
      <i class="bi bi-search search-icon"></i>
      <input class='search-user-input' type="text" placeholder="Search a user by username" url={{ search_user_base_url }} />
      <div class="results" url={{ start_conversation_base_url }} />
        {% comment %} <div class="result">
          <div class="avatar">
            <img src={% url "users:avatar" id=user.id %} alt="profil">
          </div>
          <h4>{{user.first_name}} {{user.last_name}}</h4>
          <p><span style='color: rgb(255, 102, 0);'>@</span>{{user.username}}</p>
        </div>

        <div class="result">
          <div class="avatar">
            <img src={% url "users:avatar" id=user.id %} alt="profil">
          </div>
          <h4>{{user.first_name}} {{user.last_name}}</h4>
          <p><span style='color: rgb(255, 102, 0);'>@</span>{{user.username}}</p>
        </div>

        <div class="result">
          <div class="avatar">
            <img src={% url "users:avatar" id=user.id %} alt="profil">
          </div>
          <h4>{{user.first_name}} {{user.last_name}}</h4>
          <p><span style='color: rgb(255, 102, 0);'>@</span>{{user.username}}</p>
        </div>

        <div class="result">
          <div class="avatar">
            <img src={% url "users:avatar" id=user.id %} alt="profil">
          </div>
          <h4>{{user.first_name}} {{user.last_name}}</h4>
          <p><span style='color: rgb(255, 102, 0);'>@</span>{{user.username}}</p>
        </div> {% endcomment %}
      </div>
    </div>
    <div class="logout-avatar">
      <a href="{% url "users:logout" %}">
        <button class="button logout-btn">Log out</button>
      </a>
      <div class="avatar small">
          <img src={% url "users:avatar" id=user.id %} alt="profil">
      </div>
    </div>
  </header>

  <main class="container">
    <aside class="sidebar">
      <div class="profile">
        <div class="avatar">
          <img src={% url "users:avatar" id=user.id %} alt="profil">
        </div>
        <div class="infos">
          <h4>{{user.first_name}} {{user.last_name}}</h4>
          <p>@{{user.username}}</p>
        </div>
      </div>
      <nav>
        <a href={% url "users:home" %} class="active"><i class="bi bi-house-heart"></i>
          <p>Home</p>
        </a>
        <a href={% url "users:explore" %}><i class="bi bi-compass"></i>
          <p>Explore</p>
        </a>
        <!-- <a href="#">Notifications <span class="badge">9+</span></a> -->
        <!-- <a href="#">Message <span class="badge">6</span></a> -->
        <a href="#"><i class="bi bi-bell">
            <div class="badge">9+</div>
          </i>
          <p>Notifications</p>
        </a>
        <a href="#"><i class="bi bi-envelope">
            <div class="badge">1</div>
          </i>
          <p>conversations</p>
        </a>
        <a href="#"><i class="bi bi-people"></i>
          <p>Follows</p>
        </a>
        <a href="#"><i class="bi bi-palette"></i>
          <p>Theme</p>
        </a>
        <a href="#"><i class="bi bi-gear"></i>
          <p>Settings</p>
        </a>
      </nav>
      <button class="create-post-btn">Create Post</button>
    </aside>

    <section class="feed">
      <div class="stories">
        {% comment %} <div> {% endcomment %}
            <label class="story add-story" for="story-attach" url={% url "stories:story" %}>
            <img class="cover" src={% url "users:avatar" id=user.id %} alt="cover">
            <div class="avatar story-avatar">
              <img src={% url "users:avatar" id=user.id %} alt="profil">
            </div>
            <p class="user firstname">Your</p>
            <p class="user lastname">Story</p>
            <input type="file" name="story-attach" class="story-attach-input" id="story-attach">
          </label>
        {% comment %} </div> {% endcomment %}

        {% for story in stories %}
          <a href={% url "stories:get-story" id=story.id %}>
            <div class="story">
              <i class="bi bi-x-circle-fill delete-post-button" url={% url "stories:delete-story" id=story.id %}></i>
              <img class="cover" src={% url "stories:story-thumbnail" id=story.id %} alt="cover">
            </div>
          </a>
        {% endfor %}
      </div>

      <form method="POST" action={% url "posts:post" %} class="post-cta-wrapper" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="post-cta">
            <div class="avatar post-cta-avatar">
                <img src={% url "users:avatar" id=user.id %} alt="profil">
            </div>
            <textarea spellcheck="false" name="content" placeholder="What's on your mind, {{user.first_name}}?"></textarea>
            <input type="file" name="image" id="attach">
            <label for="attach" class="attach-image-button">
              <i title="attach an image" class="bi bi-paperclip"></i>
            </label>
            <button type="button" class="button post-cta-button">Post</button>
          </div>
          <div class="attach-wrapper">
            <img src="" alt="attach" class="post-attach">
            <i class="bi bi-x-circle-fill discard-attach-button"></i>
          </div>
      </form>
      {% for post in posts %}
        <article class="post">
          <div class="post-header">
            <div class="avatar">
              <img src={% url "users:avatar" id=user.id %} alt="profil">
            </div>
            <div>
              <h4>{{user.first_name}} {{user.last_name}}</h4>
              <p>{{post.date|stringformat:"s"}}</p>
              {% comment %} <p>Dubai, 15 minutes ago</p> {% endcomment %}
            </div>
            <i class="bi bi-x-circle-fill delete-post-button" url={% url "posts:delete-post" id=post.id %}></i>
          </div>
          <p class="post-text">{{post.content}}</p>  <!-- This has 'white-space: pre-line', be careful then -->
         {% if post.image %}
             <img src={% url "posts:post-image" id=post.id %} alt="Post Content" class="post-image" />
         {% endif %}
          <div class="post-actions">
            <i class="like-button bi bi-heart-fill"></i>
            <p class="likes">{{ post.likes }}</p>
            <i class="bi bi-eye"></i>
            <p class="views">{{ post.views }}</p>
            <i class="see-comment-button bi bi-chat-dots"></i>
          </div>
          <div class="post-comments">
            <!-- The user write its comment here -->
            <form method="Post" action={% url "posts:comment-post" id=post.id %} class="comment-cta">
              {% csrf_token %}
              <div class="avatar post-avatar">
                <img src={% url "users:avatar" id=user.id %} alt="profil">
              </div>
              <textarea name="content" spellcheck="false" type="text" placeholder="Want to let a comment, {{ user.first_name }}?"></textarea>
              <button type="button" class="button comment-cta-button">Pin</button>
            </form>

            <!-- The other comments -->
            {% for comment in post.comments %}
                <div class="post-comment">
                  <div class="avatar post-avatar">
                    <img src={% url "users:avatar" id=comment.author %} alt="profil">
                  </div>
                  <p>{{comment.content}}</p> <!-- This has 'white-space: pre-line', be careful then -->
                </div>
            {% endfor %}
          </div>
          <!-- <p class="likes">Liked by Ernest Achiever and 2,323 others</p> -->
        </article>
      {% endfor %}
    </section>

    <div class="conversations-wrapper">
      <aside class="conversations">
        <div class="conversations-header">
          <p>Conversations</p>
          <div class="search-bar">
            <i class="bi bi-search search-icon"></i>
            <input type="text" placeholder="Search conversations" />
          </div>
          <div class="tabs">
            <span class="active">All</span>
            <span>Unread</span>
          </div>
        </div>

        <div class="conversation-list">
          {% for conversation in conversations %}
            <div class="conversation" url={% url 'conversations:conversation' id=conversation.id %} />
              <div class="avatar">
                <img src={% url "users:avatar" id=conversation.other_user.id %} alt="profil">
              </div>
              <div>
                <h4>{{conversation.other_user.first_name}} {{conversation.other_user.last_name}}</h4>
                <p class='last-message-view'>{{ conversation.last_message.content|slice:'0:10' }}...</p>
              </div>
              <div class="infos">
                <p>{{ conversation.last_message.date }}</p>
                <span style='white-space: pre;'> </span>
              </div>
            </div>
          {% endfor %}
        </div>
      </aside>

      <aside class="inside-conversation"></aside>
    </div>
  </main>
</body>
</html>