<div class="stories">
    <div class="story">
        <img class="cover" src="images/story-1.jpg" alt="cover">
        <div class="avatar story-avatar">
            <img src="images/profile-1.jpg" alt="profil">
        </div>
        <p class="user firstname">Your</p>
        <p class="user lastname">Story</p>
    </div>

    <div class="story">
        <img class="cover" src="images/story-2.jpg" alt="cover">
        <div class="avatar story-avatar">
            <img src="images/profile-1.jpg" alt="profil">
        </div>
        <p class="user firstname">Mansour</p>
        <p class="user lastname">Diop</p>
    </div>

    <div class="story">
        <img class="cover" src="images/story-3.jpg" alt="cover">
        <div class="avatar story-avatar">
            <img src="images/profile-1.jpg" alt="profil">
        </div>
        <p class="user firstname">Mouhamed</p>
        <p class="user lastname">Diakahte</p>
    </div>

    <div class="story">
        <img class="cover" src="images/story-4.jpg" alt="cover">
        <div class="avatar story-avatar">
            <img src="images/profile-1.jpg" alt="profil">
        </div>
        <p class="user firstname">Charbel</p>
        <p class="user lastname">Puceau</p>
    </div>

    <div class="story">
        <img class="cover" src="images/story-5.jpg" alt="cover">
        <div class="avatar story-avatar">
            <img src="images/profile-1.jpg" alt="profil">
        </div>
        <p class="user firstname">Zizi</p>
        <p class="user lastname">Soro</p>
    </div>

    <div class="story">
        <img class="cover" src="images/story-6.jpg" alt="cover">
        <div class="avatar story-avatar">
            <img src="images/profile-1.jpg" alt="profil">
        </div>
        <p class="user firstname">Tina</p>
        <p class="user lastname">White</p>
    </div>
</div>