{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/users/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/users/register.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/user/login/" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Sign In</button>
        </form>
        
        <div class="form-links">
            <a href="{% url 'users:register' %}">Don't have an account? Register</a>
            <div class="divider">•</div>
            <a href="#">Forgot Password?</a>
        </div>
    </div>
</body>
</html>